:root {
	--button: navy;
	--button-hover: rgb(42, 42, 136);
	--button-word: #ccc;
}

img {
	max-width: 400px;
}

button {
	margin-bottom: 1em;
	height: 60px;
	width: 150px;
	border-radius: 12px;
	background-color: var(--button);
	color: var(--button-word);
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
}

button:hover {
	background-color: var(--button-hover);
}

.hobby {
	padding-top: 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	width: 80%;
	margin: auto;
}
