:root {
	--font-light: #eee;
	--navbar-background-light-alt: #bbb;
	--navbar-background-light: #ddd;
	--navbar-background: #131a26;
	--overall-background: #202b3e;
	--maintext-background: #0b121f;
	--navbar-hover-font: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
	text-align: center;
}

body {
	background-color: var(--overall-background);
	color: var(--font-light);
}

img {
	max-width: 400px;
	margin: 1em;
	padding: 1em;
}

p {
	max-width: 100%;
}

.topnav {
	background-color: var(--navbar-background);
	display: flex;
}

.topnav a {
	color: var(--font-light);
	font-size: 1.25em;
	padding: 0.75em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.topnav a:hover {
	background-color: var(--navbar-background-light-alt);
	color: var(--navbar-hover-font);
}

.topnav a.active {
	background-color: var(--navbar-background-light);
	color: var(--navbar-hover-font);
}

.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

p.title {
	font-size: 2.5em;
	text-align: center;
	margin: 0.5em;
	padding-top: 1em;
	padding-top: 0.5em;
}

p.description {
	font-size: 1.25em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
}

.maintext {
	margin: auto;
	background-color: var(--maintext-background);
	width: 80%;
	border-radius: 1em;
	margin-top: 1em;
}

@media only screen and (min-width: 1000px) {
	.maintext .media {
		display: flex;
		flex-direction: column;
	}
	.title {
		margin: auto;
	}
	.about {
		display: flex;
		text-align: center;
	}
}
