:root {
	--table-even: #aaa;
	--work-exp-table-background: rgb(63, 51, 51);
	--edu-table-background: rgb(83, 99, 62);
}

.work-exp-maintable {
	margin: auto;
	background-color: var(--work-exp-table-background);
	width: 80%;
	border-radius: 1em;
}

.edu-maintable {
	margin: auto;
	background-color: var(--edu-table-background);
	width: 80%;
	border-radius: 1em;
}

.pro-profile {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	object-fit: cover;

	border-radius: 50%;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: var(--table-even);
}
